---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
  id="about"
  title="Thomas Wolfgang Peschlow"
  description=""
  pubDate={}
  preview_image=""
  tags={[]}
>
  <p>
    PlainPage is a fast, text-focused, minimalist blog theme for Astro. It is
    designed to be simple and easy to use, with a focus on readability and
    performance. The theme is fully responsive and works well on all devices,
    from desktops to smartphones.
  </p>
</BlogPost>
