---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Posts from '../components/Posts.astro';
---

<Layout>
  <div class="header-wrapper">
    <Header />
  </div>
  <div class="scrollable-posts">
    <Posts />
  </div>
</Layout>

<style>
  .header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  .scrollable-posts {
    z-index: 10; /* Posts stay below the header, even when scrolling */
    width: 100%;
    max-width: 720px;
  }
</style>
