---
import { getCollection } from "astro:content";
import { getUniqueTags } from "../utils";
const posts = await getCollection("blog", post => !post.data.hide);
const tags = getUniqueTags(posts);
---

<header>
  <div id="threejs-container"></div>
  <script type="module" src="/threejs-animation.js"></script>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: top; /* Centers content horizontally */
    width: 100%;
  }

  #threejs-container {
    position:sticky;
    width:100vw; /* Limit the width of the animation */
    height: 100vh; /* Adjust as needed */
    opacity: 0.7;
  }
</style>
